<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.art.manager.mapper.news.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.art.manager.pojo.news.News" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title_id" property="titleId" jdbcType="VARCHAR" />
    <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
    <result column="news_content" property="newsContent" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title_id, news_title, news_content, status, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.art.manager.pojo.news.NewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.art.manager.pojo.news.NewsExample" >
    delete from t_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.art.manager.pojo.news.News" >
    insert into t_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="titleId != null" >
        title_id,
      </if>
      <if test="newsTitle != null" >
        news_title,
      </if>
      <if test="newsContent != null" >
        news_content,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="titleId != null" >
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="newsTitle != null" >
        #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null" >
        #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator, jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.art.manager.pojo.news.NewsExample" resultType="java.lang.Integer" >
    select count(*) from t_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_news
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.titleId != null" >
        title_id = #{record.titleId,jdbcType=VARCHAR},
      </if>
      <if test="record.newsTitle != null" >
        news_title = #{record.newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newsContent != null" >
        news_content = #{record.newsContent,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_news
    set id = #{record.id,jdbcType=INTEGER},
      title_id = #{record.titleId,jdbcType=VARCHAR},
      news_title = #{record.newsTitle,jdbcType=VARCHAR},
      news_content = #{record.newsContent,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.art.manager.pojo.news.News" >
    update t_news
    <set >
      <if test="titleId != null" >
        title_id = #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="newsTitle != null" >
        news_title = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null" >
        news_content = #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateSelective" parameterType="com.art.manager.pojo.news.News" >
    update t_news
    <set >
      <if test="newsTitle != null" >
        news_title = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null" >
        news_content = #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator, jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where title_id = #{titleId,jdbcType=INTEGER}
  </update>

  <select id="getNewsList" parameterType="java.util.Map" resultType="com.art.manager.vo.NewsVo">
    SELECT id, news_title, title_id,status, create_time, operator ,update_time from t_news
    where
    <choose>
      <when test="status !=null and status != ''">
        status like CONCAT('%',#{status},'%')
      </when>
      <otherwise>
        status !=2
      </otherwise>
    </choose>
    <if test="id != null and id != ''" >
      AND id = #{id},
    </if>
    <if test="newsTitle != null and newsTitle != ''" >
      AND news_title like CONCAT('%',#{newsTitle},'%')
    </if>
    <if test="startTime != null and startTime != ''">
      AND  create_time &gt;= #{startTime}
    </if>
    <if test="endTime != null and endTime != ''">
      AND  create_time &lt; DATE_ADD(#{endTime},INTERVAL 1 DAY)
    </if>
    ORDER BY status ='1' DESC, create_time desc
  </select>

  <update id="updateStatusById">
    update t_news
    set status = #{status},
    operator = #{operator}
    where id = #{id}
  </update>

  <update id="deleteIds" parameterType="java.util.List">
    update t_news
    set status = 2
    where title_id in
    <foreach collection ="list" item="titleId" separator ="," open="(" close=")">
      #{titleId}
    </foreach >
  </update>


  <select id="selectContent" parameterType="java.util.Map" resultType="com.art.manager.pojo.news.News">
    select news_content,news_title from t_news where title_id = #{titleId}
  </select>
</mapper>