<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.art.manager.mapper.RecommendMapper">
    <resultMap id="BaseResultMap" type="com.art.manager.pojo.Recommend">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="picture" property="picture" jdbcType="VARCHAR"/>
        <result column="advertisy_url" property="advertisyUrl" jdbcType="VARCHAR"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, picture, advertisy_url, operator, status,type, size,commodity_id, create_time, update_time
  </sql>


    <select id="getList" parameterType="java.util.Map" resultType="com.art.manager.vo.RecommendVo">
        select
        <include refid="Base_Column_List" />
        from t_recommend
        where
        <choose>
            <when test="id !=null and id != ''">
                id = #{id}
            </when>
            <otherwise>
                type = #{type}
            </otherwise>
        </choose>
        <choose>
            <when test="status !=null and status != ''">
                and status like CONCAT('%',#{status},'%')
            </when>
            <otherwise>
                and status != 2
            </otherwise>
        </choose>
        <if test="startTime != null and startTime != ''">
            AND  create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND  create_time &lt; DATE_ADD(#{endTime},INTERVAL 1 DAY)
        </if>
        order by create_time desc, status desc
    </select>

    <update id="updateStatusById">
        update t_recommend
        set status = #{status},
        operator = #{operator}
        where id = #{id}
    </update>

    <insert id="insert" parameterType="com.art.manager.pojo.Recommend">
      insert into t_recommend (picture, advertisy_url, operator,status,commodity_id,size, type, create_time, update_time)
      values (#{picture}, #{advertisyUrl}, #{operator}, #{status},#{commodityId},#{size},#{type}, #{createTime}, #{updateTime})
    </insert>

    <select id="getRecommend" resultType="com.art.manager.dto.RecommendDto">
        select id, picture, size,advertisy_url, commodity_id from t_recommend where status = 1 and type = 2 order by create_time desc
    </select>

    <update id="delete" parameterType="java.util.List">
        update t_recommend
        set status = 2
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <update id="update" parameterType="com.art.manager.pojo.Recommend">
        update t_recommend
        set picture = #{picture},
        advertisy_url = #{advertisyUrl},
        operator = #{operator},
        commodity_id = #{commodityId},
        size = #{size},
        type = #{type},
        update_time = #{updateTime}
        where id = #{id}
    </update>

    <select id="getRecommendCommodityList" parameterType="java.util.Map" resultType="com.art.manager.vo.RecommendCommodityVo">
        select
        <include refid="Base_Column_List" />
        from t_recommend
        where
        type = 1 and status = 1
        order by status desc
    </select>
</mapper>